In [72]:
import numpy as np
import pandas as pd
import seaborn as sns
sns.set_palette('husl')
import matplotlib.pyplot as plt
get_ipython().run_line_magic('matplotlib', 'auto')

from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

data = pd.read_csv('Iris.csv',header=None)

Using matplotlib backend: Qt5Agg

In [73]:
data = data.rename({0:"Sepal Length",1 :"Sepal Width", 2 : "Petal Length", 3 : "Petal Width", 4:'Species'},axis=1)

In [74]:
data.head()

   Sepal Length  Sepal Width  Petal Length  Petal Width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [75]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 5 columns):
Sepal Length    151 non-null float64
Sepal Width     151 non-null float64
Petal Length    151 non-null float64
Petal Width     151 non-null float64
Species         151 non-null object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [76]:
data.describe()

       Sepal Length  Sepal Width  Petal Length  Petal Width
count    151.000000   151.000000    151.000000   151.000000
mean       5.843709     3.053642      3.767550     1.202649
std        0.825314     0.432169      1.761914     0.762185
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.400000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [77]:
data['Species'].value_counts()

Iris-virginica     51
Iris-versicolor    50
Iris-setosa        50
Name: Species, dtype: int64

In [78]:
g = sns.pairplot(data, hue='Species', markers='+')
plt.show()

In [67]:
X = data.drop(['Species'], axis=1)
y = data['Species']
print(X.shape)
print(y.shape)

(151, 4)
(151,)

In [79]:
# experimenting with different n values
k_range = list(range(1,26))
scores = []
for k in k_range:
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X, y)
    y_pred = knn.predict(X)
    scores.append(metrics.accuracy_score(y, y_pred))
    
plt.plot(k_range, scores)
plt.xlabel('Value of k for KNN')
plt.ylabel('Accuracy Score')
plt.title('Accuracy Scores for Values of k of k-Nearest-Neighbors')
plt.show()

In [80]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=5)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(90, 4)
(90,)
(61, 4)
(61,)

In [81]:

k_range = list(range(1,26))
scores = []
for k in k_range:
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train, y_train)
    y_pred = knn.predict(X_test)
    scores.append(metrics.accuracy_score(y_test, y_pred))
    
plt.plot(k_range, scores)
plt.xlabel('Value of k for KNN')
plt.ylabel('Accuracy Score')
plt.title('Accuracy Scores for Values of k of k-Nearest-Neighbors')
plt.show()

In [85]:
knn = KNeighborsClassifier(n_neighbors=12)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
scores.append(metrics.accuracy_score(y_test, y_pred))
print(scores)

[0.9508196721311475, 0.9508196721311475, 0.9672131147540983, 0.9836065573770492, 1.0, 0.9672131147540983, 0.9836065573770492, 1.0, 1.0, 0.9836065573770492, 1.0, 0.9836065573770492, 1.0, 0.9836065573770492, 1.0, 0.9672131147540983, 0.9836065573770492, 0.9672131147540983, 0.9508196721311475, 0.9508196721311475, 0.9672131147540983, 0.9672131147540983, 0.9672131147540983, 0.9672131147540983, 0.9672131147540983, 0.9836065573770492, 0.9836065573770492]

In [83]:
knn = KNeighborsClassifier(n_neighbors=15)
knn.fit(X, y)
knn.predict([[6, 3, 4, 2]])

array(['Iris-versicolor'], dtype=object)

In [92]:
knn = KNeighborsClassifier(n_neighbors=16)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
scores.append(metrics.accuracy_score(y_test, y_pred))
print(scores)

[0.9508196721311475, 0.9508196721311475, 0.9672131147540983, 0.9836065573770492, 1.0, 0.9672131147540983, 0.9836065573770492, 1.0, 1.0, 0.9836065573770492, 1.0, 0.9836065573770492, 1.0, 0.9836065573770492, 1.0, 0.9672131147540983, 0.9836065573770492, 0.9672131147540983, 0.9508196721311475, 0.9508196721311475, 0.9672131147540983, 0.9672131147540983, 0.9672131147540983, 0.9672131147540983, 0.9672131147540983, 0.9836065573770492, 0.9836065573770492, 1.0, 1.0, 0.9508196721311475, 1.0, 0.9836065573770492, 0.9672131147540983]